# Mitran CODEOWNERS
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @getmitran/core
/prototype/server/ @getmitran/backend
/prototype/dashboard/ @getmitran/frontend
/agent-worker/ @getmitran/ai
/deploy/ @getmitran/infra
/docs/ @getmitran/docs
